@media screen and (max-width:420px) {

.container{
    width: 90%;
}


.itims-left{
    width: 100%;
}

.menu-edc{
    font-size: 8.9vw;
}

.hotbar{
    width: 28vw;
}
.menu-img
{
    width: 10.2vw;
}
.menu-text{
    font-size: 5vw;
}
header{
    margin: 7.7vw 0 8.3vw;
}

.section-blok{
    width: 75vw;
}
.section-text{
    font-size: 6.1vw;
}
.section-number{
    font-size: 6.1vw;
}

.section-two{
    flex-direction: column;
    height: 489.7vw;
    margin-top: 6.7vw;
}
.menu{
}


.blok-one{
    width: 92.5vw;
    height: 180.3vw;
    margin-right: 0;
}

.blok-two{
    width: 92.5vw;
    height: 100.3vw;
    margin-bottom: 1.7vw;
}
.blok-four{
    width: 92.5;
    height: 71.1vw;
    padding-top: 1px;

}


.item-h{
    font-size: 4.4vw;
    margin: 5.8vw 0 0 7.2vw;
}

.item-backcolor li{
    font-size: 3.3vw;
    margin: 4.4vw 4.7vw 0 7.2vw;
}




.three-blok{
    width: 59.2vw;
    margin: 0 auto;
    margin-bottom: 4.2vw;
}
.three-blok div{
    width: 75.3vw;
}
.three-numbers{
    font-size: 13vw;
    margin-right: 0;
}
.three-text{
    font-size: 4.3vw;
}

.menu-three{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}


.section-img{
    display: none;
}
.menu-login{
    display: none;
}
.items-center{
    display: none;
}

.section-map{
    display: none;
}
footer{
    display: none;
}

}